.navbar {
  display: flex;
  gap: 1rem;

  &__link {
    color: var(--color-secondary);
    text-decoration: none;
    transition: all 0.4s;

    &:hover {
      color: var(--color-tertiary);
    }
  }
}
